.leftbar{
    flex: 2;
    margin-top: -80px;
    position: sticky;
    top: 0;
    height: calc(100vh);
    background-color: #171c26;
    overflow: scroll;

    &&::-webkit-scrollbar{
        display: none;
    }
}
.container{
    padding: 10px 20px;
    margin-left: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.user{
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: rgb(100, 99, 99);
    padding: 2px 20px;
    border-radius: 6px;
    margin-left: -10px;
}
.user span a{
    font-size: 19px;
    text-decoration: none;
}
.user img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 6px;
}
.item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item span{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
.menu span{
    color: white;
}
.item1{
    display: flex;
    align-items: center;
    gap: 6px;
}
.item img{
    width: 34px;
    height: 34px;
    border-radius: 8px;
}
.gall{
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 15px;
    margin-top: 20px;
}
.cata{
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




@media (max-width: 530px) {
    .leftbar {
        display: none;
    }
}

@media (min-width: 531px) and (max-width: 920px){
    .leftbar {
        display: none;
    }
}