
body,html{
    margin: 0;
    padding: 0;
    background-color: black;
}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.card{
    border: 1px solid rgb(136, 134, 134);
    border-radius: 8px;
    padding: 0px 30px;
}
.section-1 p{
    color: rgb(153, 151, 151);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.section-1 h1{
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
.section-2 p{
    font-size: 16px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.section-2 h4{
    font-size: 13px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
}
.section-2 form {
    display: flex;
    flex-direction: column;
}
.section-2 form input{
    padding: 8px 17px;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(136, 134, 134);
    border-radius: 5px;
    color: white;
}
.register-btn{
    text-align: center;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    margin-top: 23px;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    cursor: pointer;
}
.section-2 span{
    text-decoration: underline;
    color: white;
}

@media (max-width: 920px) {
    
    .register {
        margin-top: 60px; 
        padding: 0 15px; 
    }

    .card {
        max-width: 420px;
        width: 100%; 
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    .section-1 h1 {
        font-size: 24px;
    }

    .section-1 p {
        font-size: 14px;
    }

    .section-2 form input {
        padding: 10px 15px;
    }
    
    .register-btn {
        margin-top: 20px;
        padding: 10px;
        font-size: 16px;
    }

    .section-2 h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}