.images{
    width: 100%;
    height: 300px;
    position: relative;
}
.cover{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.profilePic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
}
.profileContainer {
    display: block;
    margin: 0 auto; 
    max-width: 800px;
    width: 100%;
}
.cont-info{
    text-align: center !important;
    margin-top: -29px;
}
.uInfo {
    text-align: center !important;
    width: 100%;
    margin-top: 5px; 
}
.name{
    color: white;
    font-size: 28px;
}
.email{
    color: rgb(177, 173, 173);
    margin-top: -22px;
    font-size: 19px;
    font-weight: 500;
}
.third {
    display: flex;
    justify-content: center; 
    gap: 15px; 
    margin-top: 10px; 
}

.third button {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #555;
    color: white;
}
.edit-btn{
    background-color: transparent;
    font-weight: 800;
}
.logout-btn{
    background-color: transparent;
    font-weight: 800;
}
.delete-btn{
    background-color: rgb(219, 7, 7);
    font-weight: 800;
}
.fourth{
    display: flex;
    justify-content: center;
}
.fourth-1 button{
    background-color: black;
    color:white;
    padding: 6px 15px;
    border-radius: 7px;
    margin-top: 19px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border: 2px solid rgb(70, 69, 69);
}