.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 20px; 
    height: 50px;
    position: sticky;
    top: 5px;
    box-sizing: border-box; 
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1; 
}

.left input {
    border-radius: 10px;
    padding: 13px 13px;
    box-sizing: border-box;
    width: 100%; 
}

.right{
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    gap: 20px;
}
.right .user{
    display: flex;
    align-items: center;
    background-color: transparent;
}
.right .user img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 15px;
    object-fit: cover;
}
.home-tablet-btn {
    display: none; 
    flex-shrink: 0;
}

@media (min-width: 921px) {
    .navbar {
        padding-left: 270px;
        margin-bottom: 15px; 
        margin-top: 13px;
    }
    .left input {
        width: 330px; 
    }
}

@media (min-width: 531px) and (max-width: 920px) {
    .navbar {
        display: flex; 
        padding: 35px 20px; 
    }
    .left input {
        width: 100%; 
        max-width: 350px; 
    }
    .left {
        flex-basis: 60%; 
        gap: 10px;
    }
    .right {
        gap: 15px;
    }
    
    .right .user img {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }
    .home-tablet-btn {
        display: block; 
        flex-shrink: 0;
    }
    .left > svg { 
        display: none !important; 
    }
}

@media (max-width: 530px) {
    .navbar {
        padding: 8px 10px;
    }
    .home-tablet-btn {
        display: block; 
    }
    .left > svg { 
        display: none !important; 
    }

    .left {
        gap: 5px; 
        flex-grow: 1; 
    }
    
    .left input {
        max-width: 80vw; 
        width: 100%;
        padding: 7px 7px;
        font-size: 13px;
    }
    .home-tablet-btn svg {
        font-size: 24px !important; 
        padding: 3px 8px !important; 
    }

    .right {
        gap: 8px;
    }
    
    .right svg {
        font-size: 20px !important;
        padding: 3px 7px !important;
    }

    .right .user img {
        width: 30px;
        height: 30px;
        margin-top: -12px;
    }
}