.update{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.update form {
    background-color: #222;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 500px; 
    min-width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative; 
    border: 1px solid #444;
}

.update input[type="text"] {
    padding: 12px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #333; 
    color: white;
    font-size: 16px;
}

.update input::placeholder {
    color: #bbb;
}

.update input[type="file"] {
    color: #bbb;
    padding: 5px 0;
    cursor:pointer;
}
.update button:not(.close-button) { 
    background-color: #5271ff; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.2s;
}

.update button:not(.close-button):hover {
    background-color: #4460e0;
}

.update .close-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background: none;
    color: #aaa;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
}
.update .close-button:hover {
    color: white;
}